{% extends 'developer/base.html' %}
{% load static %}

{% block title %}
    SUSTC gamer
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_info_active %}active{% endblock %}

{% block content %}
    <div class="col-lg-8 well well-lg">
        <form action="/developer/submit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="developer_pk" value="{{ developer.pk }}">
                <label for="name">User name</label>
                <input type="name" class="form-control" name="name" value="{{ developer.name }}">
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" >
                <h5>（不选择会使用原头像）</h5>
                <label for="introduction">Introduction</label>
                <textarea class="form-control" name="introduction"  style="height: 120px">{{ developer.introduction }}</textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="{% url 'developer_home' developer.pk %}">
            <button type="button" class="btn btn-default">返回</button>
        </a>
        </form>
    </div>
    </div>
{% endblock %}
