{% extends 'developer/base.html' %}
{% load static %}

{% block title %}
    SUSTC gamer
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'developer/developer_games.css' %}">
{% endblock %}

{% block nav_games_active %}active{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <table id="games">
            <caption>
                <h2>Game List</h2>
            </caption>
            <tr>
                <th>cover</th>
                <th>name</th>
                <th>type</th>
                <th>instruction</th>
                <th>create date</th>
                <th>operation</th>
            </tr>
            {% for game in games %}
                <tr>
                    <td>
                        <img src="{{ game.cover.url }}" height="50" width="80"
                             >
                    </td>
                    <td>{{ game.name }}</td>
                    <td>
                        {% for type in game.type.all %}
                            {{ type }}
                        {% endfor %}
                    </td>
                    <td>{{ game.introduction }}</td>
                    <td>{{ game.create_date }}</td>
                    <td>
                        <a href="{% url 'modify_game_message' developer.pk game.pk %}">
                            <button type="button" class="btn btn-primary">管理游戏</button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-primary">修改</button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-primary">删除</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'add_game' developer.pk %}">
            <button type="button" class="btn btn-primary">添加游戏</button>
        </a>
        <a href="{% url 'developer_home' developer.pk %}">
            <button type="button" class="btn btn-primary">返回</button>
        </a>
    </div>
{% endblock %}