{% extends 'developer/base.html' %}
{% load static %}

{% block title %}
    SUSTC gamer
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="col-lg-3 col-lg-offset-1" style="text-align: center">
        <img src="{% static '/pic/upload.png' %}" height="200" width="200" alt="">
        <br>
        <h2><a href="{% url 'developer_games' developer.pk %}">manage game</a></h2><br>
        <img src="{% static '/pic/info.png' %}" height="200" width="200" alt="">
        /<br>
        <h2><a href="{% url 'developer_change_info' developer.pk %}">change info</a></h2>
    </div>
    <div class="col-lg-3 col-lg-offset-1" style="text-align: center">
        <img src="{% static '/pic/sale.png' %}" height="200" width="200" alt="">
        <br>
        <h2><a href="{% url 'set_discount' developer.pk %}">sale</a></h2><br>
        <img src="{% static '/pic/release.png' %}" height="200" width="200" alt="">
        <br>
        <h2><a>release branch/dlc</a></h2>
    </div>
{% endblock %}
