{% extends 'developer/base.html' %}
{% load static %}

{% block title %}
    SUSTC gamer
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}''{% endblock %}

{% block content %}
<div class="col-lg-8">
<div class="container-fluid">
    <h3>修改信息</h3>
    <div class="panel-body">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="请输入名字">
        <form role="form">
            <div class="form-group">
                <label for="introduction">游戏介绍:</label>
                <textarea class="form-control" name="introduction" rows="3"></textarea>
            </div>
        </form>
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="请输入价格">

        <form role="form">
            <div class="form-group">
              <label for="inputfile">文件输入</label>
              <input type="file" id="inputfile" name="inputfile">
            </div>
        </form>
        
        <form role="form">
            <div class="form-group">
              <label for="inputimage">图片输入</label>
              <input type="file" id="inputimage" name="inputimage">
            </div>
        </form>

        <label for="announce_date">announce date</label>
        <input type="date" id="announce_date" name="announce_date">

        <label for="release_date">release date</label>
        <input type="date" id="release_date" name="release_date">

        <div class="form-group">
            <label for="tag">tag 选择:</label>
            <form>
                {% for tag in taglist %}
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="" name="tag">{{tag.type}}
                  </label>
                </div>
                {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">
            submit your change
        </button>
    </div>
</div>
</div>
{% endblock %}
