{% extends 'game_base.html' %}

{% block title %}
    Modify User Info
{% endblock %}

{% block link_extends %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    {% if  user.is_authenticated %}
        <div style="margin: 20%">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fieldWrapper">
                    <label>用户名:</label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    <label>Your introduction:</label>
                    {{ form.introduction }}
                </div>
                <div class="fieldWrapper">
                    <label>Your avatar:</label>
                    {{ form.avatar }}
                </div>

                <input type="hidden" name="curruser" value="{{ user.username }}">
                <input type="submit" value="提交">
            </form>
        </div>
    {% else %}
        <h3>您未登录</h3>
    {% endif %}

{% endblock %}

<script>

</script>
