{% extends 'game_base.html' %}

{% block title %}
    profiles details
{% endblock %}

{% block link_extends %}
    {% load static %}
    <link rel="stylesheet" href="/static/css/game_detail.css">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <el-main style="padding: 10px;margin: 0 auto">
        <div style="align-content: center;text-align: center">
            {% if user.is_authenticated %}
                <div>
                    {% if extendUser %}
                        <img class="ac"
                                         alt=""
                                         style="background-image:url(./static/pic/sale.png);
                                                 background-repeat: no-repeat;
                                                 background-position:center center;
                                                 border-radius: 10px;
                                                 border-color: #EDF1F2;
                                                 background-size: cover;
                                                 height: 300px;"
                                    >
                    {% else %}
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                    {% endif %}
                </div>
                <h3>user name:{{ user.username }}</h3>
                <h3>user introduction:{{ extendUser.introduction }}</h3>

            {% else %}
                未登录
                <a href="{% url "user_login" %}?from={{ request.get_full_path }}">登录</a>
                <a href="{% url "reguser" %}?from={{ request.get_full_path }}">注册</a>
            {% endif %}

            {% for game in games %}
                <h3> {{ game.name }}</h3>
            {% endfor %}
        </div>
    </el-main>

{% endblock %}
