{% extends 'game_base.html' %}
{% block title %}
User Info
{% endblock %}
{% block link_extends %}
    {% load static %}

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    <el-main>
        <div>
            {% if user.is_authenticated %}
                <div id="profile">
{#                    <div>#}
                        <h1 style="text-align: center">设置头像</h1>
                        <div style="text-align: center">
                            <el-upload
                                    class="avatar-uploader"
                                    action="https://jsonplaceholder.typicode.com/posts/"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </div>
{#                    </div>#}
                </div>
                {##}
                {#                <img src="{{ user.get_content_img_url }}">#}
                {#                <h3>user name:{{ user.username }}</h3>#}
                {#                <h3>avatar: {{ user.avatar|safe }}</h3>#}
                {#                <h3>user introduction:{{ extendUser.introduction }}</h3>#}

            {% else %}
                未登录
                <a href="{% url "user_login" %}?from={{ request.get_full_path }}">登录</a>
                <a href="{% url "reguser" %}?from={{ request.get_full_path }}">注册</a>
            {% endif %}

            {% for game in games %}
                <h3> {{ game.name }}</h3>
            {% endfor %}
        </div>
    </el-main>

{% endblock %}