{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>data update</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">SUSTC GAMER</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>


{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-3" style="text-align: center">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center">
                        <h3>Welcome, developer {{ user.username }}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ developer.get_content_img_url }}" height="250" width="250" alt="" class="img-circle">

                        <br>
                        <h4>{{ developer.introduction }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel-heading" style="text-align: center;">
                <h3>Developer message</h3>
                </div>
                <div class="panel-body">
                <h3>Developer name: {{user.username}}</h3>
                <h3>Developer account:{{developer.account}}</h3>
                <h3>Developer introduction:</h3>
                <h4>{{developer.introduction}}</h4>
                <h3>create date:{{developer.create_date}}</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel-heading" style="text-align: center;">
                    <h3>Modify message</h3>
                </div>
                <div class="panel-body">



                <form action="" method="post" , enctype="multipart/form-data">

                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <div class="row margin-top:20px">
                            {{ field.label }}<br>
                                {{ field }}
                            </div>
                        <br>
                        </div>

                    {% endfor %}
                <button type="submit" class="btn btn-primary">
                    submit your change
                </button>
                <a href="{% url 'developer home' %}">
            <button type="button" class="btn btn-primary">返回</button>
        </a>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
