{% extends 'game_base.html' %}

{% block title %}
    Game List
{% endblock %}

{% block link_extends %}
    <link rel="stylesheet" href="/static/css/game_list.css">
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <el-header>
        Browse
        <el-divider></el-divider>
    </el-header>

    <el-main>
        <div class="col-sm-8 col-md-9">

            <el-row :gutter="30" style="height: 300px">

                {% for game in games %}
                    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12" style="height: 400px; border-color: #EDF1F2">
                        <div>
                            <a href="{% url 'game_detail' game.pk %}" style="text-decoration: none">
                                <img class="ac"
                                          alt=""
                                          style="background-image: url({{ game.get_content_img_url }});
                                                  background-repeat: no-repeat;
                                                  background-position:center center;
                                                  background-size: cover;
                                                  height: 300px;"
                                >
                                <div style="padding: 14px; position: absolute">
                                    <h4>{{ game.name }}</h4>
                                    {{ game.game_type.type_name }}
                                    {{ game.create_time|date:"Y:m:d" }}
                                </div>
                            </a>

                        </div>
                    </el-col>
                {% endfor %}
            </el-row>
            <div id="app" style="text-align:center">
                <el-tag effect="dark">
                    共{{ games.paginator.object_list|length }}个游戏,当前页面游戏数为{{ games|length }}</el-tag>
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="{{ games.number }}"
                        background
                        :page-size="7"
                        layout="prev, pager, next"
                        :total="{{ games.paginator.object_list|length }}">
                </el-pagination>

            </div>
        </div>


        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">游戏分类</div>
                <div class="panel-body">
                    <ul>
                        <a href="{% url 'game_list' %}">所有游戏</a>
                        {% for gametype in types %}
                            <li>
                                <a href="{% url 'get_game_name' gametype.type_name %}">{{ gametype.type_name }}({{ gametype.game_count }})</a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">日期分类</div>
                <div class="panel-body">
                    <ul>
                        {% for time in game_date %}
                            <li><a href="{% url 'game_with_date' time.year time.month %}">{{ time|date:"Y年n月" }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </el-main>

{% endblock %}
