/*#bloglist,#homepage{*/
/*    display: inline-block;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    padding: 5px 10px;*/
/*}*/

/*#nav{*/
/*    background-color: lavenderblush;*/
/*    border-bottom: 1px solid black;*/
/*    margin-bottom: 10px;*/
/*    padding-left: 10px;*/
/*}*/

#container {
    margin: 20em auto; /*图表的居中*/
    height: 20em;
    min-width: 20em;
    max-width: 30em;
    max-height: 20em;
}

html, body, #app, .el-container {
    /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0px;
    /*外部间距也是如此设置*/
    margin: 0px;
    height: 100%;
}

.el-container.is-vertical {
    overflow: auto !important;
}