
#container {
    margin: 20em auto; /*图表的居中*/
    height: 20em;
    min-width: 20em;
    max-width: 30em;
    max-height: 20em;
}

.el-header {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 60px;
}

html, body, #app, .el-container {
    /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0px;
    /*外部间距也是如此设置*/
    margin: 0px;
    height: 100%;
}

.el-aside {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
}

.el-main {
    position: absolute;
    left: 200px;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
}