
.el-menu-item.cli {
    background-color: orangered !important;
    color: white !important;
    border-radius: 15px;
    margin: 5%;
}

.el-menu-item.cli:hover {
    background-color: orangered !important;
}


.el-header {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 60px;
}

html, body, #app, .el-container {
    /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0;
    /*外部间距也是如此设置*/
    margin: 0;
    height: 100%;
}

.el-aside {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.el-main.MainBlock {
    position: absolute;
    left: 280px;
    right: 0;
    top: 0;
    overflow-y: scroll;
}