.panel-body{
    width: 100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden
}
/*最后一个不要下划线*/
.game:not(:last-child){
    margin-bottom: 2em;
    border-bottom: dashed 1px ;
}

.paginator{
    text-align: center;
}