<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block link_extends %}{% endblock %}  <!--用来让别人来填写引用-->
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/fanshunicon/iconfont.css">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">


    <title>{% block title %}{% endblock %}</title>
</head>


<body style="background-color: #EDF1F2">
<div id="app" style="height: 100%">

    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="280px" style="background-color: rgb(238, 241, 246)">
            <el-menu class="el-menu-vertical-demo" style="height: 100%"
                     active-text-color="#409EFF"
                     background-color="#1E262C"
                     text-color="#B7B7B7">
                <li style="text-align: center">
                    <a href="{% url 'home' %}" style="text-decoration:none">
                        <el-menu-item index="1">
                            <i class="el-icon-s-home" style="align-content: center"></i>
                            <span slot="title"></span>
                        </el-menu-item>
                    </a></li>
                <li style="text-decoration:none" class="{% block nav_home_active %}{% endblock %}">
                    <a href="{% url 'game_list' %}" style="text-decoration:none">
                        <el-menu-item index="2">
                            <i class="el-icon-fanshun-game" style="align-content: center"></i>
                            <span slot="title">游戏列表</span>
                        </el-menu-item>
                    </a></li>

                <a style="text-decoration:none">
                    <el-menu-item index="3">
                        <i class="el-icon-search"></i>
                        <span slot="title">Search</span>
                    </el-menu-item>
                </a>
                <li style="flex: 1"></li>
                {% if user.is_authenticated %}
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-user-solid"></i>
                            <span slot="title">{{ user.username }}</span>
                        </template>
                        {% if user.extenduser %}
                            <a href="{% url "user_home" %}" style="text-decoration:none">
                            <el-menu-item index="4-1">
                                View My Profile
                            </el-menu-item>
                        {% endif %}
                        {% if user.developer %}
                            <a href="{% url "developer home" %}" style="text-decoration:none">
                            <el-menu-item index="4-1">
                                View My Profile
                            </el-menu-item>
                        {% endif %}
                        </a>
                        <a href="{% url "logout" %}" style="text-decoration:none">
                            <el-menu-item index="4-2">
                                <i class="el-icon-fanshun-log-out"></i>
                                Log out
                            </el-menu-item>
                        </a>
                    </el-submenu>
                {% else %}

                    <a style="text-decoration:none; text-align: center"
                       href="{% url "user_login" %}?from={{ request.get_full_path }}">
                        <el-menu-item class="cli" style="background-color: orangered" index="4-1">Sign in</el-menu-item>
                    </a>


                    <a style="text-decoration:none; text-align: center"
                       href="{% url "reguser" %}?from={{ request.get_full_path }}">
                        <el-menu-item class="cli" index="4-2">Register</el-menu-item>
                    </a>
                {% endif %}

            </el-menu>
        </el-aside>

        <el-main class="MainBlock" style="padding: 0;overflow: hidden">
            {% block content %}{% endblock %}
        </el-main>

    </el-container>
</div>

<script>
    const Main = {
        data() {
            {% block Const %}{% endblock %}
            const cityOptions = ['RPG', 'SLG', 'MOBA', 'FPS'];
            return {
                imageUrl: '',
                form: {
                    username: '',
                    email: '',
                    pass: '',
                    checkPass: '',
                    delivery: false,
                },
                userForm: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: '',
                    checkAll: false,
                    checkedCities: [],
                    cities: cityOptions,
                    isIndeterminate: true,
                },
                {% block Data %}{% endblock %}

            };
        },
        methods: {
            {% block Method %}{% endblock %}
            open() {
                this.$alert('<embed src="{{ version.file.url }}" width="450px" height="400px" play="true" loop="false" quality="high"type="application/x-shockwave-flash">', 'HTML 片段', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleCurrentChange(val) {
                window.location.href = "?page= " + val;
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }, handleCheckAllChange(val) {
                this.checkedCities = val ? cityOptions : [];
                this.isIndeterminate = false;
            },
            handleCheckedCitiesChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.cities.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
            },

        },
    };
    const Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')

</script>
{% block JS %}

{% endblock %}

<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }

    .avatar {
        width: 100px;
        height: 100px;
        display: block;
    }

    .input.file {
        display: none;
    }

</style>
</body>
</html>

<!--创建了一个html模板，这样别的html可以引用它-->