<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block link_extends %}{% endblock %}  <!--用来让别人来填写引用-->
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/fanshunicon/iconfont.css">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">


    <title>{% block title %}{% endblock %}</title>
</head>


<body style="background-color: #EDF1F2">
<div id="app" style="height: 100%">

    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="280px" style="background-color: rgb(238, 241, 246)">
            <el-menu class="el-menu-vertical-demo" style="height: 100%"
                     active-text-color="#409EFF"
                     background-color="#1E262C"
                     text-color="#B7B7B7">
                <li style="text-align: center">
                    <a href="{% url 'home' %}" style="text-decoration:none">
                        <el-menu-item index="1">
                            <i class="el-icon-s-home" style="align-content: center"></i>
                            <span slot="title"></span>
                        </el-menu-item>
                    </a></li>
                <li style="text-decoration:none" class="{% block nav_home_active %}{% endblock %}">
                    <a href="{% url 'game_list' %}" style="text-decoration:none">
                        <el-menu-item index="2">
                            <i class="el-icon-fanshun-game" style="align-content: center"></i>
                            <span slot="title">游戏列表</span>
                        </el-menu-item>
                    </a></li>

                <a style="text-decoration:none">
                    <el-menu-item index="3">
                        <i class="el-icon-search"></i>
                        <span slot="title">Search</span>
                    </el-menu-item>
                </a>
                <li style="flex: 1"></li>
                {% if user.is_authenticated %}
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-user-solid"></i>
                            <span slot="title">Account</span>
                        </template>
                        <a href="{% url "user_home" %}" style="text-decoration:none">
                            <el-menu-item index="4-1">
                                <el-avatar
                                        src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                                View My Profile
                            </el-menu-item>
                        </a>
                        <a href="{% url "logout" %}" style="text-decoration:none">
                            <el-menu-item index="4-2">
                                <i class="el-icon-fanshun-log-out"></i>
                                Log out
                            </el-menu-item>
                        </a>
                    </el-submenu>
                {% else %}

                    <a style="text-decoration:none; text-align: center"
                       href="{% url "user_login" %}?from={{ request.get_full_path }}">
                        <el-menu-item class="cli" style="background-color: orangered" index="4-1">Sign in</el-menu-item>
                    </a>


                    <a style="text-decoration:none; text-align: center"
                       href="{% url "reguser" %}?from={{ request.get_full_path }}">
                        <el-menu-item class="cli" index="4-2">Register</el-menu-item>
                    </a>
                {% endif %}

            </el-menu>
        </el-aside>

        <el-main class="MainBlock" style="padding: 0">
            {% block content %}{% endblock %}
        </el-main>

    </el-container>
</div>

<script>
    const Main = {
        data() {
            {% block Const %}{% endblock %}

            return {
                form: {
                    username: '',
                    email: '',
                    pass: '',
                    checkPass: '',
                    delivery: false,
                },
                {% block Data %}{% endblock %}

            };
        },
        methods: {
            {% block Method %}{% endblock %}
            handleCurrentChange(val) {
                window.location.href = "?page= " + val;
            },

        },
    };
    const Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')

</script>
{% block JS %}

{% endblock %}
</body>
</html>

<!--创建了一个html模板，这样别的html可以引用它-->