{% extends 'game_base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block link_extends %}
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block nav_home_active %}

{% endblock %}

{% block content %}
        <el-carousel :interval="5000" arrow="always" style="text-align: center; align-content: center">
            {% for hotdata in today_hot_data %}
                <el-carousel-item>
                    <a style="text-decoration: none" href="{% url 'game_detail' hotdata.content_object.pk %}">
                        <div style="height: 100%;position: relative;display: inline-block;">
                            <div class="img-tip"
                                 style="font-size: x-large;position: absolute;bottom: 0;background: #333;color: white;opacity: 0.6;">
                                <div>
                                    <el-button style="width: 100%;border-width: 0px;border-radius: 0px; ">
                                        {{ hotdata.content_object.name|safe }}
                                    </el-button>
                                </div>
                                <div>
                                    <el-button icon="el-icon-fanshun-caiyouduo_liulanliang"
                                               style="width: 100%;border-width: 0px;border-radius: 0px;">
                                        阅读数：{{ hotdata.read_num }}</el-button>
                                </div>
                            </div>
                            <img class="back-img" style="background-color: gray;height: 100%"
                                 alt=""
                                 src="{{ hotdata.content_object.get_content_img_url }}">
                        </div>
                    </a>
                </el-carousel-item>
            {% endfor %}

        </el-carousel>
{% endblock %}

{% block JS %}

{% endblock %}