{% extends 'game_base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block link_extends %}
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block nav_home_active %}

{% endblock %}

{% block content %}
    <el-main style="padding: 0">

        <el-carousel trigger="click" height="550px" style="padding: 0">
            {% for hotdata in today_hot_data %}
                <el-carousel-item>
                    <a style="text-decoration: none" href="{% url 'game_detail' hotdata.content_object.pk %}">
                        <div style="height: 100%;position: relative;display: inline-block;">
                            <img class="back-img" style="background-color: gray;height: 100%"
                                 alt=""
                                 src="{{ hotdata.content_object.get_content_img_url }}">
                        </div>
                    </a>
                </el-carousel-item>
            {% endfor %}
        </el-carousel>
    </el-main>


    <el-main>
        <el-row :gutter="30" style="height: 400px">
            {% for game in games %}
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12" style="height: 500px; border-color: #EDF1F2">
                    <div>
                        <a href="{% url 'game_detail' game.pk %}" style="text-decoration: none">
                            <div
                                 style="background-image: url({{ game.get_content_img_url }});
                                         background-repeat: no-repeat;
                                         background-position:center center;
                                         background-size: cover;
                                         height: 400px;"
                            ></div>
                            <div style="padding: 14px; position: absolute">
                                <h4>{{ game.name }}</h4>
                                {{ game.game_type.type_name }}
                                {{ game.create_time|date:"Y:m:d" }}
                            </div>
                        </a>

                    </div>
                </el-col>
            {% endfor %}
        </el-row>
    </el-main>
{% endblock %}

{% block JS %}

{% endblock %}