{% extends 'game_base.html' %}

{% block title %}
    注册界面
{% endblock %}


{% block content %}
    <el-main>
        <el-main>

            <el-col :span="9" style="margin-left: 20%">
                <el-form :model="form" :rules="rules" action="" ref="form" status-icon method="POST" size="medium">
                    {% csrf_token %}
                    {% if reg_form.errors %}
                        {% for error in reg_form.errors %}
                            {% if error|escape == 'username' %}
                                <ol>
                                    <el-alert
                                            title=用户名已存在
                                            type="error">
                                    </el-alert>
                                </ol>
                            {% elif error|escape == 'email' %}
                                <ol>
                                    <el-alert
                                            title=邮箱已存在
                                            type="error">
                                    </el-alert>
                                </ol>
                            {% elif error|escape == 'password' or error|escape == 'password_again'%}
                                <ol>
                                    <el-alert
                                            title=密码不一致
                                            type="error">
                                    </el-alert>
                                </ol>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                    <el-form-item prop="username">
                        <el-input v-model="form.username" autocomplete="off"
                                  name="username"
                                  prefix-icon="el-icon-user-solid"
                                  placeholder="User Name"
                                  maxlength="10"
                        ></el-input>
                    </el-form-item>

                    <el-form-item prop="email">
                        <el-input v-model="form.email" autocomplete="off"
                                  prefix-icon="el-icon-fanshun-185078emailmailstreamline"
                                  placeholder="Enter Your email"
                                  name="email"></el-input>
                    </el-form-item>


                    <el-form-item prop="pass">
                        <el-input v-model="form.pass" autocomplete="off" prefix-icon="el-icon-lock"
                                  placeholder="Enter Your password"
                                  name="password"
                                  show-password></el-input>
                    </el-form-item>

                    <el-form-item prop="checkPass">
                        <el-input v-model="form.checkPass" autocomplete="off" prefix-icon="el-icon-lock"
                                  placeholder="Enter Your password again"
                                  name="password_again"
                                  show-password></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-checkbox v-model="ifDeveloper" name="ifDeveloper">是否注册为Developer</el-checkbox>
                    </el-form-item>

                    <el-form-item style="text-align: center">
                        <el-button type="primary" native-type="submit">REGISTERED</el-button>
                        <el-button @click="resetForm('form')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-main>
    </el-main>
{% endblock %}

{% block Const %}
    const validatePass = (rule, value, callback) => {
    if (value === '') {
    callback(new Error('请输入密码'));
    } else {
    if (this.form.checkPass !== '') {
    this.$refs.form.validateField('checkPass');
    }
    callback();
    }
    };
    const validatePass2 = (rule, value, callback) => {
    if (value === '') {
    callback(new Error('请再次输入密码'));
    } else if (value !== this.form.pass) {
    callback(new Error('两次输入密码不一致!'));
    } else {
    callback();
    }
    };
    const validateEmail = (rule, value, callback) => {
    if (value === '') {
    callback(new Error('请输入邮箱!'));
    } else if (!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(value)) {
    callback(new Error('输入邮箱格式错误!'));
    } else {
    callback();
    }
    };
    const validateUser = (rule, value, callback) => {
    if (value === '') {
    callback(new Error('请输入用户名!'));
    } else {
    callback();
    }
    };

{% endblock %}

{% block Data %}
    rules: {
    pass: [
    {validator: validatePass, trigger: 'blur'}
    ],
    checkPass: [
    {validator: validatePass2, trigger: 'blur'}
    ],
    email: [
    {validator: validateEmail, trigger: 'blur'}
    ],
    username: [
    {validator: validateUser, trigger: 'blur'}
    ],
    },
{% endblock %}

{% block Method %}
    submitForm(formName) {
    this.$refs[formName].validate((valid) => {
    if (valid) {
    alert('submit!');
    } else {
    console.log('error submit!!');
    return false;
    }
    });
    },
    resetForm(formName) {
    this.$refs[formName].resetFields();
    },
{% endblock %}