<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 450px;height: 400px ;">
    <el-card shadow="never" style="width: 100%;height: 100%;"
             body-style="padding: 0;height: 100%!important;">
        <embed src="/media/game_file/2020/12/25/1.swf"
               width="100%" height="100%"
               play="true" loop="false" quality="high"
               type="application/x-shockwave-flash">
    </el-card>
</div>
</body>
</html>