<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <title>Title</title>
</head>
<body>

<div id="app">
    <template>
        <el-backtop target=".page-component__scroll .el-scrollbar__wrap" :bottom="100">
            <div
                    style="{
        height: 100%;
        width: 100%;
        background-color: #f2f5f6;
        box-shadow: 0 0 6px rgba(0,0,0, .12);
        text-align: center;
        line-height: 40px;
        color: #1989fa;
      }"
            >
                UP
            </div>
        </el-backtop>
            <div class="col-sm-8 col-md-9">
                <el-row :gutter="20">

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">CAICAI</div>
                        <el-button>
                            <a href="/game/9" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/game4.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>GAME4</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：7
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">TEST</div>
                        <el-button>
                            <a href="/game/8" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/game3.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>GAME3</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：3
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">ENHEN</div>
                        <el-button>
                            <a href="/game/7" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/game2.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>GAME2</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：0
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">GOOD DOOG</div>
                        <el-button>
                            <a href="/game/6" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/original.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>GAME</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：0
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">GOOD GAME</div>
                        <el-button>
                            <a href="/game/5" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/switzerland-lago-bianco-max-galli_7SZscfX.jpg"
                                         alt="">
                                    <div style="padding: 14px">
                                        <h4>Animal3</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：1
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">WOSHI DASA AD</div>
                        <el-button>
                            <a href="/game/4" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/animal.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>Animal2</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：1
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                    <el-tooltip placement="top" style="position: relative">
                        <div slot="content">HELLO</div>
                        <el-button>
                            <a href="/game/3" style="text-decoration: none">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img src="/media/upload/2020/11/27/switzerland-lago-bianco-max-galli.jpg" alt="">
                                    <div style="padding: 14px">
                                        <h4>Animal</h4>
                                        <el-button
                                                icon="el-icon-fanshun-biaoqian">RPG
                                        </el-button>
                                        <el-button
                                                icon="el-icon-fanshun-rili">2020:11:27
                                        </el-button>
                                        <el-button icon="el-icon-fanshun-caiyouduo_liulanliang">
                                            阅读数：0
                                        </el-button>

                                    </div>
                                </el-card>

                            </a>
                        </el-button>
                    </el-tooltip>

                </el-row>
                <div id="app" style="text-align:center">
                    <el-tag effect="dark">
                        共9个游戏,当前页面游戏数为7
                    </el-tag>
                    <el-pagination
                            @current-change="handleCurrentChange"
                            :current-page="1"
                            background
                            :page-size="7"
                            layout="prev, pager, next"
                            :total="9">
                    </el-pagination>

                </div>
            </div>


            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">游戏分类</div>
                    <div class="panel-body">
                        <ul>
                            <a href="/game/">所有游戏</a>

                            <li>
                                <a href="/game/ACG">ACG(1)</a>
                            </li>

                            <li>
                                <a href="/game/RPG">RPG(8)</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期分类</div>
                    <div class="panel-body">
                        <ul>

                            <li><a href="/game/2020/11">2020年11月</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
    </template>
</div>
<script>
    new Vue().$mount('#app')
</script>

</body>
</html>